$primary-color: #23374D;
$primary-color-dark: #182634;
$secondary-color: #1089FF;
$accent-color: #FF6969;
$text-color: #E5E5E5;
$light-backdrop-color: #E5E5E555;

$base-spacing: 1rem;
$font-size: 1rem;

$text-font: "Roboto", sans-serif;
$item-font: "Montserrat", sans-serif;
$title-font: "Abel", sans-serif;
$mono-font: "Space Mono", monoscape;
$logo-font: "Caveat", monoscape;

