.section {
  width: 100%;
}

.container {
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
}

.title {
  color: black;
  font-family: sans-serif;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.recipesContainer {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  gap: 1rem;
  width: 60%;
  overflow-x: scroll;
}

.icon {
  font-size: 5rem;
  cursor: pointer;
  transition: all 250ms;
}

.icon:hover {
  transform: scale(1.3);
}

@media (max-width: 873px) {
  .recipesContainer {
    width: 70%;
  }
}

@media (max-width: 430px) {
  .recipesContainer {
    width: 90%;
  }
}
