.container {
}

.imgContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  background-color: #ccc;
  border-radius: 50%;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
