.form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2rem;
  min-width: 80%;
  padding: 1.5rem 0rem;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: rgba(144, 190, 185, 0.5);
  flex-shrink: 0;
}

.wrapper {
  width: 80%;
  position: relative;
}

.label {
  width: 100%;
  font-family: sans-serif;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-family: sans-serif;
  font-weight: bold;
}

.btnSubmit {
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: #2a9d8f;
  cursor: pointer;
}

.btnSubmit:hover {
  background-color: #38c8b8;
}

.btnSubmit:active {
  background-color: #1c6159;
}

.error {
  position: absolute;
  color: crimson;
}

@media (max-width: 912px) {
  .btnSubmit {
    width: 100%;
    padding: 1rem;
  }
}
