.button {
  display: flex;
  flex-flow: row;
  gap: 0.3rem;
  padding: 1rem 1.5rem;
  border: 1px solid black;
  border-radius: 2rem;
  background-color: #2a9d8f;
  font-weight: bold;
  cursor: pointer;
  transition: all 250ms;
}

.button:hover {
  background-color: #2fbaaa;
}

.button:active {
  background-color: #20645d;
}
