/*TIPOGRAFIA: */
$main_font: 'Montserrat', sans-serif;

/*COLORES: */
$pink: #F53756;
$softPink: #f396a5;
$whitePink:#fac8d0;
$darkGrey: #333333;
$lightGrey: #bbb;
$dark: #000000;
$light: #FFFFFF;
$greyWhite: #CCCCCC;
$h3-back: rgba(0,0,0,.1);

/*ESTILOS: */
$border-radius: 15px;

/*MEDIA QUERIES: */
$phone: 480px;
$tablet: 1080px;
$desktop: 992px;
$maxDesktop: 1250px;