@use '../base/variables' as v;
@use '../base/mixins' as m;

header {
    background-color: v.$darkGrey;
    padding: 1rem 0 3rem 0;
    @include m.tablet {
        min-height: 70rem;
        background-image: url('/src/img/background.webp');
        background-position: center center;
        background-size: cover;
    }
}

.content-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include m.tablet{
        min-height: 70rem;
    }

    h2{
        text-align: left;
        color: v.$light;
        font-weight: lighter;
        line-height: 2;
    }
}

