.section {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
}

.title {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-family: sans-serif;
  background-color: rgba(235, 123, 131, 0.5);
}

.stepsContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
}

.stepNumber {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  background-color: rgba(235, 123, 131, 0.5);
}

.stepDescription {
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(42, 157, 143, 0.5);
}

@media (max-width: 873px) {
  .title {
    align-self: center;
  }
}
