.button {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 2.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #2a9d8f;
  cursor: pointer;
  transition: all 250ms;
}

.button:hover {
  background-color: #2fbaaa;
}

.button:active {
  background-color: #20645d;
}
